*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fade-enter {
  opacity: 0;
  max-height: 0;
}

.fade-enter-active {
  opacity: 1;
  max-height: 80vh; /* La valeur doit être supérieure à la hauteur maximale attendue pour vos formulaires */
  transition: opacity 300ms ease-in-out, max-height 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
  max-height: 80vh; /* La valeur doit être supérieure à la hauteur maximale attendue pour vos formulaires */
}

.fade-exit-active {
  opacity: 0;
  max-height: 0;
  transition: opacity 300ms ease-in-out, max-height 300ms ease-in-out;
}
